.btn-wrapper {
  clip-path: var(--clip-secondary-fixed);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-top: 4.5rem;
  background: linear-gradient(112.82deg, #0364af 7.85%, #0d8ff2 96.54%);
}
