.btn {
  border: none;
  cursor: pointer;

  &--large {
    width: 90%;
    padding: 0.8rem 0;
    background: transparent;
    text-align: center;
    z-index: 10;
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 6.4rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    color: var(--color-text-primary);

    transition: all 0.2s;

    &:hover,
    &:focus {
      outline: none;
      transform: scale(1.03);
      text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    &:active {
      transform: scale(1.02);
      text-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
    }
  }

  &--share {
    text-decoration: none;
  }

  &__options-delete-image {
    position: absolute;
    top: 1rem;
    left: 3rem;
    background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
    padding: 15px;
    border-radius: 50%;
    transform: translateY(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: all 0.2s;

    &:hover .btn__bin {
      transform: rotate(-25deg) scale(1.05);
    }

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    &:active .btn__bin {
      transform: rotate(-35deg) scale(1.03);
    }

    &:active {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__bin {
    width: 34px;
    transition: all 0.2s;
  }
}
