.err {
  position: fixed;
  display: grid;
  top: 5rem;
  left: -90vw;
  width: 90vw;
  z-index: 9999;
  background-color: var(--color-secondary);
  grid-template-columns: min-content 1fr;
  align-items: center;
  transition: all 0.5s;
  box-shadow: 6px 4px 9px rgba(0, 0, 0, 0.2);

  &__message {
    font-size: 1.8rem;
    padding: 2rem 0;
  }

  &__exclamation-icon {
    width: 25px;
    height: 25px;

    margin-left: 1rem;
    margin-right: 2rem;
  }

  &--active {
    top: 5rem;
    left: 0;
  }
}
