.err {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  background-color: #eb4d4b;
  color: #fff;
  display: none;

  &__message {
    font-size: 1.8rem;
    white-space: nowrap; //keep text in 1 line
  }

  &--active {
    display: block;
  }
}
