.image-cover {
  position: relative;
  background-image: linear-gradient(130.02deg, #0476d0 12.41%, #047dd9 88.27%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  cursor: pointer;
  height: 40vh;
  min-height: 20rem;
  margin-bottom: 3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  &__options-upload {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:hover &__options-upload &__upload-icon {
    transform: translateX(7px) scale(1.03);
  }

  &__upload-icon {
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
    transform: translateX(7px); //offset the top right "+" sign on the icon
    transition: all 0.2s;
  }

  &__description {
    padding: 0.5rem 2rem;
    border-radius: 24px;
    background-color: var(--color-primary-light);
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    // white-space: nowrap; //make text stay in 1 line
  }
}
