.participant {
  margin-bottom: 4rem;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.7rem;
    background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
    padding: 4px;
    border-radius: 50%;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__item-type {
    font-weight: 300;
    font-size: 1.8rem;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}
