.participant-item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__profile-picture {
    position: relative;
    z-index: 10;
    object-fit: cover;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-light);
    padding: 1rem 1.5rem 1rem 3rem;
    margin-left: -2rem;
    border-radius: 2px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
  }
}
