doctype html
html
  head
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')

body  
  h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
  .error__msg= msg