@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --color-primary: #022c4d;
  --color-primary-light: #035696;
  --color-secondary: #047bd7;
  --color-tertiary: #2d5f86;
  --color-leaflet-popup: #2d3439;
  --color-leaflet-text: #ececec;
  --color-error-primary: rgba(255, 0, 0, 0.62);
  --color-error-secondary: rgba(255, 0, 0, 0.25);
  --color-text-primary: #f9fafb;
  --font-primary: "Montserrat", sans-serif;
  --clip-primary: polygon(0 calc(0% + 15vw), 100% 0, 100% calc(100% - 15vw), 0 100%);
  --clip-primary-fixed: polygon(0 calc(0% + 34%), 100% 0, 100% calc(100% - 34%), 0 100%);
  --clip-secondary: polygon(0 calc(0% + 15vw), 100% 0, 100% calc(100% - 5vw), calc(100% - 35vw) 100%, 0 100%);
  --clip-secondary-fixed: polygon(0 34%, 100% 0, 100% 89%, calc(100% - 35vw) 100%, 0 100%);
  --clip-tertiary: polygon(0 calc(0% + 15vw), 100% 0, 100% 100%, 0 100%);
  --clip-tertiary-fixed: polygon(0 calc(0% + 34%), 100% 0, 100% 100%, 0 100%);
  --timerWidth: 0px;
}

/*
//  COLORS
$color-primary: #047cd8;
$color-primary-dark-1: #057bd7;
$color-primary-dark-2: #022c4d;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;

$color-secondary-light: #0479d4;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2298ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

DEVICE BREAKPOINTS
$phone: 600px;
$tab-port: 900px;
$tab-land: 1200px;
$big-desktop: 1800px;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* force inheritence on box-sizing for all elms */
  box-sizing: inherit;
}

html {
  /* 10/16=62.5% */
  /* .625*16=10 */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
}

::-webkit-scrollbar-track {
  background-color: #c6def6;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #a1c7ef;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #90b4d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.heading-primary {
  display: inline-block;
  color: var(--color-text-primary);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 3.6em;
  padding: 1rem 4rem;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(4, 118, 208, 0) 0%, rgba(4, 118, 208, 0.5) 100%);
}

.heading-secondary {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: transparent;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(173deg, #f0f0f0 40%, #047dd9);
  -webkit-background-clip: text;
}

.heading-tertiary {
  display: inline-block;
  background: var(--color-tertiary);
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
  line-height: 1.4;
  z-index: 10;
  width: 90vw;
  padding: 1rem 2rem 1rem 1rem;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 0.5px;
  color: var(--color-text-primary);
}

.u-disable-scrolling {
  height: 100% !important;
  overflow: hidden !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 18vh !important;
}

.u-display-hide {
  display: none !important;
}

.u-cursor-none {
  cursor: default !important;
}

@keyframes loader__bar--1-animation {
  0% {
    transform: translate3d(-3rem, 0, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(3rem, 0, 0);
    opacity: 0.95;
  }
}
@keyframes loader__bar--2-animation {
  0% {
    transform: translate3d(-5rem, 0, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(5rem, 0, 0);
    opacity: 0.95;
  }
}
@keyframes loader__bar--3-animation {
  0% {
    transform: translate3d(-6rem, 0, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(6rem, 0, 0);
    opacity: 0.95;
  }
}
.arrow-open {
  z-index: 500;
  position: fixed;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background: rgba(4, 103, 179, 0.5);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  padding: 1.5rem 3rem 7rem 1.5rem;
  width: 15rem;
  transition: all 0.1s 0.1s ease-in;
  opacity: 100;
}
.arrow-open:hover svg {
  transform: scale(1.07);
}
.arrow-open svg {
  width: 4rem;
  height: 4rem;
  transition: all 0.2s;
}
.arrow-open--hide {
  transform: translateX(-15rem);
  opacity: 0;
}

.btn-wrapper {
  clip-path: var(--clip-secondary-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4.5rem;
  background: linear-gradient(112.82deg, #0364af 7.85%, #0d8ff2 96.54%);
}

.btn {
  border: none;
  cursor: pointer;
}
.btn--large {
  width: 90%;
  padding: 0.8rem 0;
  background: transparent;
  text-align: center;
  z-index: 10;
  font-weight: 700;
  font-size: 6.4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-text-primary);
  transition: all 0.2s;
}
.btn--large:hover, .btn--large:focus {
  outline: none;
  transform: scale(1.03);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn--large:active {
  transform: scale(1.02);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.btn--share {
  text-decoration: none;
}
.btn__options-delete-image {
  position: absolute;
  top: 1rem;
  left: 3rem;
  background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
  padding: 15px;
  border-radius: 50%;
  transform: translateY(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transition: all 0.2s;
}
.btn__options-delete-image:hover .btn__bin {
  transform: rotate(-25deg) scale(1.05);
}
.btn__options-delete-image:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.btn__options-delete-image:active .btn__bin {
  transform: rotate(-35deg) scale(1.03);
}
.btn__options-delete-image:active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.btn__bin {
  width: 34px;
  transition: all 0.2s;
}

.create-participant {
  background-color: var(--color-primary);
  width: 55rem;
}
.create-participant__heading {
  position: relative;
  display: inline-block;
  background: var(--color-tertiary);
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
  line-height: 1.4;
  margin-bottom: 6rem;
}
.create-participant__title {
  margin: 0;
  padding: 1rem 2rem 1rem 1rem;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.5px;
  color: var(--color-text-primary);
}
.create-participant__text {
  margin: 0;
  padding: 0 1.5rem 1rem 1.5rem;
  font-weight: 300;
  font-size: 2.2rem;
  color: var(--color-text-primary);
}
.create-participant__person-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}
.create-participant__profile {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  z-index: 10;
  position: relative;
  transition: all 0.2s;
  border: solid 3px var(--color-primary);
}
.create-participant__profile:hover {
  transform: scale(1.04);
}
.create-participant__name-input {
  background-color: var(--color-primary-light);
  padding: 1rem 1.5rem 1rem 3rem;
  margin-left: -2rem;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 400;
  font-size: 2rem;
  color: inherit;
  border: none;
  width: 60%;
}
.create-participant__name-input:focus {
  outline: none;
  box-shadow: 0 4px 0 var(--color-secondary);
}
.create-participant__name-input::placeholder {
  color: inherit;
  opacity: 0.25;
}
.create-participant__button-container {
  clip-path: var(--clip-tertiary-fixed);
  background: linear-gradient(112.82deg, #0364af 7.85%, #0d8ff2 96.54%);
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  min-height: 9rem;
  width: 100%;
  margin-bottom: -3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.create-participant__submit {
  background: #035696;
  color: var(--color-text-primary);
  border: none;
  border-radius: 2px;
  font-size: 2.6rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0.8rem 0;
  margin-right: 3rem;
  transition: all 0.2s;
}
.create-participant__submit:hover {
  background-color: #075088;
}
.create-participant__submit:focus, .create-participant__submit:active {
  outline: none;
  background-color: #064677;
}
.create-participant__cancel {
  margin-left: 3rem;
  border: none;
  font-weight: 300;
  font-size: 2.6rem;
  color: var(--color-text-primary);
  background: #0964aa;
  border-radius: 2px;
  padding: 0.8rem 0;
  cursor: pointer;
  transition: all 0.2s;
}
.create-participant__cancel:hover {
  background-color: #085a99;
}
.create-participant__cancel:focus, .create-participant__cancel:active {
  outline: none;
  background-color: #064677;
}

.discussion {
  margin-bottom: 6rem;
}

.err {
  position: fixed;
  display: grid;
  top: 5rem;
  left: -95vw;
  width: 90vw;
  z-index: 9999999999999;
  background-color: var(--color-secondary);
  grid-template-columns: min-content 1fr;
  align-items: center;
  transition: all 0.5s;
  box-shadow: 6px 4px 9px rgba(0, 0, 0, 0.2);
}
.err__message {
  font-size: 1.8rem;
  padding: 2rem 0;
}
.err__exclamation-icon {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
  margin-right: 2rem;
}
.err--active {
  top: 5rem;
  left: 0;
}

.event-description {
  margin: 0 auto;
  width: 85vw;
  max-width: 100rem;
  margin-bottom: 6rem;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}
.event-description__text:not(:last-of-type) {
  margin-bottom: 1.7rem;
}

.event-info__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(6rem);
}
.event-info__date-location {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(9rem);
}
.event-info__date, .event-info__location {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-items: center;
  align-items: center;
}
.event-info__date-icon, .event-info__location-icon {
  margin-right: 0.5rem;
  width: 16px;
  height: 16px;
}
.event-info__date, .event-info__location {
  font-size: 1.6rem;
}

.form {
  background-color: var(--color-primary);
}
.form__group {
  padding-left: 3rem;
  margin-bottom: 2rem;
}
.form__label {
  display: block;
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.75rem;
}
.form__input {
  width: calc(100% - 3rem);
  padding: 0 1.5rem 1rem 0;
  font-family: inherit;
  color: inherit;
  font-weight: 300;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  transition: all 0.05s ease-in-out;
  appearance: none;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-secondary);
  margin-bottom: -2px;
}
.form__input::placeholder {
  color: inherit;
  opacity: 0.25;
}
.form__upload {
  display: none;
}
.form__start-end-time {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}
.form__dash {
  height: 1px;
  width: 2rem;
  background-color: var(--color-secondary);
}
.form__textarea {
  width: calc(100% - 3rem);
  height: 15rem;
  font-family: inherit;
  color: inherit;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.6;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  transition: all 0.05s ease-in-out;
  appearance: none;
  resize: none;
}
.form__textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--color-secondary);
  margin-bottom: -2px;
}
.form__textarea::placeholder {
  color: inherit;
  opacity: 0.25;
}
.form__required {
  color: var(--color-error-primary);
  margin-left: 0.5rem;
  font-size: 2.2rem;
  line-height: 1;
}
.form input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
.form input[type=time]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.image-cover {
  position: relative;
  background-image: linear-gradient(130.02deg, #0476d0 12.41%, #047dd9 88.27%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  cursor: pointer;
  height: 40vh;
  min-height: 20rem;
  margin-bottom: 3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.image-cover__options-upload {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-cover:hover .image-cover__options-upload .image-cover__upload-icon {
  transform: translateX(7px) scale(1.03);
}
.image-cover__upload-icon {
  height: 8rem;
  width: 8rem;
  margin-bottom: 2rem;
  transform: translateX(7px);
  transition: all 0.2s;
}
.image-cover__description {
  padding: 0.5rem 2rem;
  border-radius: 24px;
  background-color: var(--color-primary-light);
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.invitation {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 95vw;
}
.invitation__url {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem 1rem 1rem 2.5rem;
  font-weight: 300;
  font-size: 1.8rem;
  background-color: #013f6f;
  color: inherit;
  border: none;
  border-radius: 0.2rem;
}
.invitation__url:focus {
  outline: none;
}
.invitation__globe-container {
  border: solid 0.4rem var(--color-primary);
  background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
  position: relative;
  padding: 0.8rem;
  border-radius: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invitation__copy-container {
  border: solid 0.4rem var(--color-primary);
  background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
  position: relative;
  padding: 1.4rem;
  border-radius: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invitation__globe-icon {
  width: 3.3rem;
  height: 3.3rem;
}
.invitation__copy-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--color-text-primary);
  transition: all 0.2s;
}
.invitation__btn:hover .invitation__copy-container .invitation__copy-icon {
  transform: scale(1.08);
}
.invitation__btn:active .invitation__copy-container .invitation__copy-icon {
  transform: scale(1.02);
}
.invitation__btn {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.invite {
  position: fixed;
  bottom: 5vh;
  z-index: 200;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  max-width: 47rem;
  transition: all 0.2s 0.1s ease-out;
}
.invite--hide {
  transform: translateX(-47rem);
}
.invite__title {
  margin: 0;
  padding: 1rem 2rem 1rem 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}
.invite__description {
  grid-row: 1/2;
  grid-column: 1/3;
}
.invite__description-box {
  position: relative;
  display: inline-block;
  background: var(--color-tertiary);
  box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
  line-height: 1.4;
  z-index: 100;
}
.invite__confirm-wrapper {
  grid-row: 2/3;
  grid-column: 1/3;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
  z-index: 50;
}
.invite__confirm-btn {
  background: #0467b3;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  margin-top: -2rem;
  padding: 4rem 5rem 2rem 0;
  border: none;
  cursor: pointer;
}
.invite__confirm-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.invite__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  transition: all 0.2s;
}
.invite__icon-container svg {
  width: 55px;
  height: 55px;
}
.invite__text {
  padding: 0.5rem 2rem;
  border-radius: 24px;
  background-color: var(--color-primary-light);
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.invite__confirm-btn:hover .invite__confirm-content .invite__icon-container {
  transform: scale(1.05);
}
.invite__decline-wrapper {
  grid-row: 2/3;
  grid-column: 2/4;
  background: linear-gradient(112.87deg, #0364af 7.85%, #0d8ff2 96.54%);
  z-index: 20;
}
.invite__decline-btn {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2.6rem 2rem 0;
}
.invite__decline-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.invite__decline-btn:hover .invite__decline-content .invite__icon-container {
  transform: scale(1.05);
}
.invite__arrow-btn {
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(112.87deg, #0364af 7.85%, #0d8ff2 96.54%);
  grid-row: 3/4;
  grid-column: 3/4;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 9rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 80%);
  transform: translateY(-1px);
}
.invite__arrow-icon-container {
  transform: rotate(180deg);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invite__arrow-icon-container svg {
  width: 28px;
  height: 28px;
}
.invite__arrow-btn:hover .invite__arrow-icon-container {
  transform: rotate(180deg) scale(1.1);
}

.loader {
  padding: 2rem 0;
}
.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 5rem;
}
.loader__bar {
  margin: 0 0 1rem 0;
  background-color: #fff;
  height: 1rem;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
.loader__bar--1 {
  width: 6rem;
  animation: loader__bar--1-animation 1s infinite alternate;
}
.loader__bar--2 {
  width: 7rem;
  animation: loader__bar--2-animation 1s 150ms infinite alternate;
}
.loader__bar--3 {
  width: 5rem;
  animation: loader__bar--3-animation 1s 220ms infinite alternate;
}

.pac-container {
  font-family: var(--font-primary);
  border-top: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 0px 2px;
}
.pac-container:after {
  background-image: none !important;
  height: 0px;
}

.pac-item {
  font-size: 1.8;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
  border-top: 1px solid var(--color-secondary);
  cursor: pointer;
  /*
    &-selected .pac-icon-marker {
    background-position: -1px -161px;
  }
  */
}
.pac-item-query {
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 1rem;
  color: var(--color-text-primary);
}
.pac-item-selected, .pac-item:hover {
  background-color: var(--color-primary-light);
}

.map-container {
  max-width: 100vw;
  width: 140rem;
  margin: 0 auto;
}

#map {
  height: 55vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-color: var(--color-primary);
  margin: 0 3rem;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-leaflet-popup);
  color: var(--color-leaflet-text);
  border-radius: 5px;
  padding-right: 0.6rem;
  border-left: 5px solid #1864ab;
}

.leaflet-popup-content-wrapper .leaflet-popup-content p {
  font-size: 1.4rem;
}

/* tip of popup */
.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-leaflet-popup);
}

/*
.leaflet-popup-content-wrapper .leaflet-popup-content h4 {
  font-size: 1.6rem;
}
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  z-index: 6666;
  overflow-y: scroll;
}

.participant-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.participant-item:not(:last-of-type) {
  margin-bottom: 2rem;
}
.participant-item__profile-picture {
  position: relative;
  z-index: 10;
  object-fit: cover;
  border-radius: 50%;
  width: 4.3rem;
  height: 4.3rem;
  border: solid 3px var(--color-primary);
}
.participant-item__value {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-light);
  padding: 1rem 1.5rem 1rem 3rem;
  margin-left: -2rem;
  border-radius: 2px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
}

.participant {
  margin-bottom: 6rem;
}
.participant__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.participant__attending, .participant__not-attending {
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.participant__heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}
.participant__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.7rem;
  background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
  padding: 4px;
  border-radius: 50%;
}
.participant__icon-container svg {
  width: 1.6rem;
  height: 1.6rem;
}
.participant__item-type {
  font-weight: 300;
  font-size: 1.8rem;
}

.quick-facts {
  position: relative;
  width: 85vw;
  max-width: 40rem;
  margin: -9vh auto 4rem auto;
  background-color: var(--color-primary);
  box-shadow: 4px 1px 2px #0a1b29;
  z-index: 5;
}
.quick-facts__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1.5rem 2rem 0 2rem;
}
.quick-facts__item:last-of-type {
  padding-bottom: 2.5rem;
}
.quick-facts__heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
}
.quick-facts__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.7rem;
  background-image: linear-gradient(155.22deg, #0476d0 -3.82%, #047dd9 104.08%);
  padding: 4px;
  border-radius: 50%;
}
.quick-facts__icon-container svg {
  width: 1.3rem;
  height: 1.3rem;
}
.quick-facts__item-value {
  font-weight: 300;
  font-size: 1.4rem;
}

/*# sourceMappingURL=main.comp.css.map */
