@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// global definitions / settings
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  /* force inheritence on box-sizing for all elms */
  box-sizing: inherit;
}

html {
  /* 10/16=62.5% */
  /* .625*16=10 */
  // defines what 1rem is (1rem = 10px)
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}

html,
body {
  //don't allow horizontal scrolling
  max-width: 100%;
  overflow-x: hidden;
}

// selection Pseudo element
::selection {
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
}

// Custom Scrollbar
::-webkit-scrollbar-track {
  background-color: #c6def6;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #a1c7ef;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #90b4d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
