<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Event</title>

  <link rel="shortcut icon" type="image/png" href="/public/img/favicon/favicon.png" />

  <!-- Leaflet's Css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <link rel="stylesheet" href="/public/css/style.css">

  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <script defer src="/public/js/bundled/index.js"></script>


</head>

<body>

  <!-- NOTE: -->
  <!-- the comments that start with class="" mean that another class could be added or removed to the elemet below it. -->
  <!-- forexample err--active could be added to the div element below it, to make the error container active eg. <div class="err err--active"> -->

  <!-- class="err--active" -->
  <div class="err">
    <svg class="err__exclamation-icon">
      <use xlink:href="/public/img/sprite.svg#exclamation-icon"></use>
    </svg>

    <p class="err__message">A custom err message</p>
  </div>

  <form class="form" id="form-create-event">

    <input class="form__upload" type="file" accept="image/*" id="upload-image-cover" name="imageCover" />
    <label for="upload-image-cover" id="label-upload-image-cover">

      <div class="image-cover" id="image-cover">

        <div class="image-cover__options-upload">
          <svg class="image-cover__upload-icon">
            <use xlink:href="/public/img/sprite.svg#drop-file-icon"></use>
          </svg>

          <p class="image-cover__description">
            Upload Cover Photo
          </p>
        </div>

        <div class="image-cover__options-user-info">
        </div>

        <button class="btn btn__options-delete-image u-display-hide">
          <img src="/public/img/icons/bin.png" alt="bin icon" class="btn__bin">
        </button>

      </div>
    </label>

    <div class="form__group">
      <label for="name" class="form__label">Event Name<span class="form__required">*</span></label>
      <input type="text" id="name" class="form__input" placeholder="What are you planning?" name="name"
        autocomplete="off" required>
    </div>

    <div class="form__group">
      <label for="date" class="form__label">Start Date<span class="form__required">*</span></label>
      <input type="date" id="date" class="form__input" placeholder="When does it start?" name="date" autocomplete="off"
        required>
    </div>

    <div class="form__start-end-time">
      <div class="form__group">
        <label for="start-time" class="form__label">Start Time<span class="form__required">*</span></label>
        <input type="time" id="start-time" class="form__input" name="start-time" autocomplete="off" required>
      </div>

      <div class="form__dash"></div>

      <div class="form__group">
        <label for="end-time" class="form__label">End Time<span class="form__required">*</span></label>
        <input type="time" id="end-time" class="form__input" name="end-time" autocomplete="off" required>
      </div>
    </div>

    <div class="form__group">
      <label for="address" class="form__label">Location Address<span class="form__required">*</span></label>
      <input type="text" id="address" class="form__input" placeholder="Where is your event?" name="address"
        autocomplete="off" required>
    </div>

    <div id="map" class=""></div>

    <div class="form__group">
      <label for="description" class="form__label">Description</label>
      <textarea name="description" id="description" class="form__textarea"
        placeholder="Provide more information about your event..." spellcheck="false" autocomplete="off"></textarea>
    </div>

    <div class="btn-wrapper u-margin-bottom-small">

      <!-- class="u-display-hide" -->
      <button class="btn btn--large" id="btn-create-event">Create Event</button>

      <!-- class="u-display-hide" -->
      <div class="loader u-display-hide">
        <div class="loader__container">
          <div class="loader__bar loader__bar--1"></div>
          <div class="loader__bar loader__bar--2"></div>
          <div class="loader__bar loader__bar--3"></div>
        </div>
      </div>

    </div>

  </form>

  <script>
    let marker = undefined;

    // USING LEAFLET
    const map = L.map('map', {
      scrollWheelZoom: false,
      dragging: !L.Browser.mobile
    }).setView([49.883226, -97.155884], 2);

    L.tileLayer(
      'https://api.mapbox.com/styles/v1/saman2111/cl79xjeka001714n0hqhmd9mg/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1Ijoic2FtYW4yMTExIiwiYSI6ImNsMHR2bXo2ZjBmM2ozZG11aDVhejF1MncifQ.3KrUHjHh3FoNFafvfPba_w'
    ).addTo(map);

    function mapSetView(lat, lng, locationName) {

      // Remove marker
      if (marker !== undefined) {
        map.removeLayer(marker);
      }

      // Create marker
      marker = L.marker([lat, lng]).addTo(map).bindPopup(`<p>${locationName}</p>`)
        .openPopup();

      // Center map on location
      map.setView([lat, lng], 11, {
        animate: true,
        pan: {
          duration: 2,
        },
      });

    }

    // USING GOOGLE AUTOCOMPLETE API
    let autocomplete;

    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('address'), {
          fields: ['geometry', 'name']
        })

      autocomplete.addListener('place_changed', onPlaceChanged);
    }

    function onPlaceChanged() {
      const place = autocomplete.getPlace();

      if (!place.geometry) {
        // User did not select a prediction; reset the input field
        document.getElementById('autocomplete').placeholder = 'Where is your event?'
      } else {
        // Display details about the valid place
        // console.log(place);
        const lat = place.geometry.location.lat();
        const lng = place.geometry.location.lng();
        // console.log('lat', lat);
        // console.log('lng', lng);
        mapSetView(lat, lng, place.name);
      }
    }
  </script>
</body>

</html>