<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Event</title>

  <link rel="shortcut icon" type="image/png" href="/public/img/favicon/favicon.png" />
  <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>

  <!-- NOTE: -->
  <!-- the comments that start with class="" mean that another class could be added or removed to the elemet below it. -->
  <!-- forexample err--active could be added to the div element below it, to make the error container active eg. <div class="err err--active"> -->

  <!-- class="err--active" -->
  <div class="err">
    <p class="err__message">A custom err message</p>
  </div>

  <form class="form" id="form-create-event">

    <input class="form__upload" type="file" accept="image/*" id="upload-image-cover" name="imageCover" />
    <label for="upload-image-cover" id="label-upload-image-cover">
      <div class="image-cover" id="image-cover">

        <div class="image-cover__options-upload">
          <svg class="image-cover__upload-icon">
            <use xlink:href="/public/img/sprite.svg#drop-file"></use>
          </svg>

          <p class="image-cover__description">
            Upload Cover Photo
          </p>
        </div>

        <div class="image-cover__options-user-info">
        </div>

        <button class="btn btn__options-delete-image u-display-hide">
          <img src="/public/img/icons/bin.png" alt="bin icon" class="btn__bin">
        </button>

      </div>
    </label>

    <div class="form__group">
      <label for="title" class="form__label">Title<span class="form__required">*</span></label>
      <input type="text" id="title" class="form__input" placeholder="What are you planning?" name="title" required>
    </div>

    <div class="form__group">
      <label for="date" class="form__label">Date<span class="form__required">*</span></label>
      <input type="date" id="date" class="form__input" placeholder="When does it start?" name="date" required>
    </div>

    <div class="form__start-end-time">
      <div class="form__group">
        <label for="start-time" class="form__label">Start Time<span class="form__required">*</span></label>
        <input type="time" id="start-time" class="form__input" name="start-time" required>
      </div>

      <div class="form__dash"></div>

      <div class="form__group">
        <label for="end-time" class="form__label">End Time<span class="form__required">*</span></label>
        <input type="time" id="end-time" class="form__input" name="end-time" required>
      </div>
    </div>

    <div class="form__group u-margin-bottom-medium">
      <label for="description" class="form__label">Description</label>
      <textarea name="description" id="description" class="form__textarea"
        placeholder="Describe what you are planning..." spellcheck="false"></textarea>
    </div>

    <div class="btn-wrapper u-margin-bottom-small">
      <button class="btn btn--large">Create Event!</button>
    </div>

  </form>

  <script src="/public/js/bundled/index.js"></script>
</body>

</html>