<!DOCTYPE html>
<!-- class="u-disable-scrolling" -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$EVENT NAME$</title>

  <link rel="shortcut icon" type="image/png" href="/public/img/favicon/favicon.png" />

  <!-- INDEX CSS -->
  <link rel="stylesheet" href="/public/css/style.css">

  <!-- LEAFLET's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

</head>

<!-- class="u-disable-scrolling" -->

<body id="get-event-page">

  <!-- NOTE: -->
  <!-- the comments that start with class="" mean that another class could be added or removed to the elemet below it. -->
  <!-- forexample err--active could be added to the div element below it, to make the error container active eg. <div class="err err--active"> -->

  <!-- class="err--active" -->
  <div class="err">
    <svg class="err__exclamation-icon">
      <use xlink:href="/public/img/sprite.svg#exclamation-icon"></use>
    </svg>

    <p class="err__message">A custom err message</p>
  </div>

  <!-- add a inline style for background-color -->
  <div class="image-cover u-cursor-none" id="image-cover"
    style="background-image: linear-gradient(to right, rgba(3, 72, 125, 0.85), rgba(3, 72, 125, 0.85)), url('')">

    <div class="event-info">

      <div class="event-info__heading">
        <h1 class="heading-primary">$EVENT NAME$</h1>
      </div>

      <div class="event-info__date-location">

        <div class="event-info__date">
          <svg class="event-info__date-icon">
            <use xlink:href="/public/img/sprite.svg#calendar-icon"></use>
          </svg>
          <p class="event-info-date-para">$XX/XX/XX$</p>
        </div>

        <div class="event-info__location">
          <svg class="event-info__location-icon">
            <use xlink:href="/public/img/sprite.svg#location-icon"></use>
          </svg>
          <p class="event-info-location-para">$LOCATION$</p>
        </div>

      </div>

    </div>

  </div>

  <div class="quick-facts">
    <h2 class="heading-secondary">Quick Facts</h2>

    <div class="quick-facts__item">

      <div class="quick-facts__heading">

        <div class="quick-facts__icon-container">
          <svg>
            <use xlink:href="/public/img/sprite.svg#time-icon"></use>
          </svg>
        </div>
        <span class="quick-facts__item-type">Time</span>
      </div>

      <div class="quick-facts__item-value">9:00AM &mdash; 2:00PM</div>
    </div>

    <div class="quick-facts__item">

      <div class="quick-facts__heading">

        <div class="quick-facts__icon-container">
          <svg>
            <use xlink:href="/public/img/sprite.svg#check-icon"></use>
          </svg>
        </div>
        <span class="quick-facts__item-type">Attending</span>
      </div>

      <div class="quick-facts__item-value">0 people</div>
    </div>

    <div class="quick-facts__item">

      <div class="quick-facts__heading">

        <div class="quick-facts__icon-container">
          <svg>
            <use xlink:href="/public/img/sprite.svg#cross-icon"></use>
          </svg>
        </div>
        <span class="quick-facts__item-type">Not Attending</span>
      </div>

      <div class="quick-facts__item-value">0 people</div>
    </div>

  </div>

  <div class="event-description">
    <p class="event-description__text">The Chess rule when touching a piece is listed below:</p>
    <p class="event-description__text">This is otherwise known as the touch move rule. Going by this rule, you will have
      to move the piece you actually touch. This is a rule to look out for, especially if you are a beginner. You cannot
      keep fiddling with your pieces and moves in a tournament. Hence, there is no undoing a careless move so be careful
      which piece you touch.</p>
    <p class="event-description__text">However, if you touch a piece by mistake while reaching out for another piece,
      your opponent cannot instigate this rule.</p>
  </div>

  <div class="map-container u-margin-bottom-large">
    <div id="map" class="map map--get-event"></div>
  </div>


  <div class="participant">
    <h2 class="heading-secondary u-margin-bottom-tiny">Participants</h2>

    <div class="participant__container">

      <div class="participant__attending">

        <div class="participant__heading">
          <div class="participant__icon-container">
            <svg>
              <use xlink:href="/public/img/sprite.svg#check-icon"></use>
            </svg>
          </div>
          <span class="participant__item-type">Attending</span>
        </div>

      </div>

      <div class="participant__not-attending">

        <div class="participant__heading">
          <div class="participant__icon-container">
            <svg>
              <use xlink:href="/public/img/sprite.svg#cross-icon"></use>
            </svg>
          </div>
          <span class="participant__item-type">Not Attending</span>
        </div>

      </div>

    </div>


  </div>

  <!-- class="invite__hide" -->
  <div class="invite">

    <div class="invite__description">
      <div class="invite__description-box">
        <h3 class="invite__title">Respond to your invite</h3>
      </div>
    </div>

    <div class="invite__confirm-wrapper">

      <div class="invite__confirm-btn" id="invite__confirm-btn">

        <div class="invite__confirm-content">
          <div class="invite__icon-container">
            <svg>
              <use xlink:href="/public/img/sprite.svg#check-icon"></use>
            </svg>
          </div>
          <span class="invite__text">confirm</span>
        </div>

      </div>

    </div>

    <div class="invite__decline-wrapper">

      <div class="invite__decline-btn" id="invite__decline-btn">

        <div class="invite__decline-content">

          <div class="invite__icon-container">
            <svg>
              <use xlink:href="/public/img/sprite.svg#cross-icon"></use>
            </svg>
          </div>
          <span class="invite__text">decline</span>

        </div>

      </div>

    </div>

    <div class="invite__arrow-btn" id="invite__arrow-btn">

      <div class="invite__arrow-icon-container">
        <svg>
          <use xlink:href="/public/img/sprite.svg#arrow-icon"></use>
        </svg>
      </div>

    </div>

  </div>

  <div class="arrow-open arrow-open--hide">
    <svg>
      <use xlink:href="/public/img/sprite.svg#arrow-icon"></use>
    </svg>
  </div>

  <div class="overlay u-display-hide">

    <div class="create-participant">

      <form class="create-participant__form">

        <div class="create-participant__heading">
          <h5 class="create-participant__title">Welcome!</h5>
          <p class="create-participant__text">Add your name and a profile picture, to respond to your invite!</p>
        </div>

        <div class="create-participant__person-card">

          <input class="form__upload" type="file" accept="image/*" id="upload-profile-picture" name="profilePicture" />

          <label for="upload-profile-picture" id="label-profile-picture">
            <div class="create-participant__profile"></div>
          </label>

          <input type="text" class="create-participant__name-input" id="create-participant__name" name="fname"
            placeholder="What is your name..." autocomplete="off" required>
        </div>

        <div class="create-participant__button-container">

          <button class="create-participant__cancel">
            Go back
          </button>

          <button class="create-participant__submit">
            Done!
          </button>

        </div>


      </form>

    </div>

  </div>

  <!-- LEAFLET's JS -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <!-- INDEX JS -->
  <script src="/public/js/bundled/index.js"></script>
</body>

</html>