<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Share Event</title>

  <link rel="shortcut icon" type="image/png" href="/public/img/favicon/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/shareEventPage.css">

</head>

<body id="share-event-page">

  <!-- NOTE: -->
  <!-- the comments that start with class="" mean that another class could be added or removed to the elemet below it. -->
  <!-- forexample err--active could be added to the div element below it, to make the error container active eg. <div class="err err--active"> -->

  <!-- class="err--active" -->
  <div class="err">
    <svg class="err__exclamation-icon">
      <use xlink:href="/public/img/sprite.svg#exclamation-icon"></use>
    </svg>

    <p class="err__message">A custom err message</p>
  </div>

  <!-- add a inline style for background-color -->
  <div class="image-cover u-cursor-none" id="image-cover"
    style="background-image: linear-gradient(to right, rgba(3, 72, 125, 0.85), rgba(3, 72, 125, 0.85)), url('')">

    <div class="event-info">

      <div class="event-info__heading">
        <h1 class="heading-primary">$EVENT NAME$</h1>
      </div>

      <div class="event-info__date-location">

        <div class="event-info__date">
          <svg class="event-info__date-icon">
            <use xlink:href="/public/img/sprite.svg#calendar-icon"></use>
          </svg>
          <p class="event-info-date-para">$XX/XX/XX$</p>
        </div>

        <div class="event-info__location">
          <svg class="event-info__location-icon">
            <use xlink:href="/public/img/sprite.svg#location-icon"></use>
          </svg>
          <p class="event-info-location-para">$LOCATION$</p>
        </div>

      </div>

    </div>

  </div>

  <section class="section-body">

    <h3 class="heading-tertiary u-margin-bottom-small">
      Send your invites out, by sharing the following link with your friends
    </h3>

    <div class="invitation">

      <div class="invitation__globe-container">
        <svg class="invitation__globe-icon">
          <use xlink:href="/public/img/sprite.svg#globe-icon"></use>
        </svg>
      </div>

      <input type="text" data-url="" class="invitation__url"
        value="http://127.0.0.1:8000/event/63a94aaffa6f3d1090726b00" readonly>

      <button class="invitation__btn">
        <div class="invitation__copy-container">

          <svg class="invitation__copy-icon">
            <use xlink:href="/public/img/sprite.svg#copy-icon"></use>
          </svg>
        </div>
      </button>

    </div>

    <div class="empty-space"></div>

    <div class="btn-wrapper u-margin-bottom-small">

      <!-- class="u-display-hide" -->
      <!-- TODO CHANGE THIS TO A LINK -->
      <a href="https://URL/event/ID" target="_blank" class="btn btn--large btn--share" id="visit-share-event">Visit Link
        Above</a>

      <!-- class="u-display-hide" -->
      <div class="loader u-display-hide">
        <div class="loader__container">
          <div class="loader__bar loader__bar--1"></div>
          <div class="loader__bar loader__bar--2"></div>
          <div class="loader__bar loader__bar--3"></div>
        </div>
      </div>

    </div>

  </section>


  <script src="/public/js/bundled/index.js"></script>
</body>

</html>