// Code below create it's own folder on the public css folder & each page will import it's specific style

// <= 480px
@media (max-width: 30em) {
  .heading-primary {
    padding: 1rem 1.5rem;
  }
}

/* <= 450px */
@media (max-width: 28.125em) {
  html {
    // Make font size 9px as 9/16=0.5625
    font-size: 56.25%;
  }

  .form {
    &__group {
      padding-left: 2rem;
    }
    &__input {
      // works like padding-right
      width: calc(100% - 2rem);
    }

    &__end-time {
      padding-left: 1.5rem;
    }
    &__start-time {
      width: calc(100% + 0.5rem); //.5rem to offset the -2rem
    }
  }

  #map {
    margin: 0 2rem;
  }
}

/* <= 306px */
@media (max-width: 19.125em) {
  html {
    // Make font size 9px as 8/16=0.5625
    font-size: 50%;
  }

  .form {
    &__group {
      padding-left: 1rem;
    }
    &__input {
      // works like padding-right
      width: calc(100% - 1rem);
    }
  }

  .event-info {
    &__date-location {
      flex-direction: column;
    }

    &__date {
      margin-bottom: 1.4rem;
    }
  }

  #map {
    margin: 0 1rem;
  }
}
